*{
    box-sizing: border-box;
    font-family: courier;
     /*Aplico a todo el body la la letra courier new y le estamos asignando la propiedad box-sizing: border-box para para que se respete un ancho definido*/
}
div{
    height: 100px;
    /*Aplico el largo de 100 px a totos mis div*/
  }
  
  
.yellow{
    background-color: #f5d106;
    /*Aplicando a mi  clase yellow el backgraund el color 5d106*/
  }
  
.black{
    background-color: #000;
    /*Aplicando a mi  clase yellow el backgraund el color black*/
  }

.yellow p{
    color:black;
    padding: 5px;
    /*Aplicando a mi  párrafo que esta dentro de la clase yellow el color black, osea el color de letra y un padding de 5px */
  }

.black p{
    color:white;
    padding: 5px;
    /*Aplicando a  mi párrafo que esta dentro de la clase black el color white,osea el color de letra y un padding de 5px*/  
    }

.principal{
    width: 300px;
    /*Aplicando un ancho definito a mi div principal, para que sea el ancho que respeta los div hijos*/  
  }